<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% customer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :fname %>
    <%= form.text_field :fname %>
  </div>

  <div class="field">
    <%= form.label :lname %>
    <%= form.text_field :lname %>
  </div>

  <div class="field">
    <%= form.label :addr %>
    <%= form.text_field :addr %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :prov %>
    <%= form.text_field :prov %>
  </div>

  <div class="field">
    <%= form.label :postal %>
    <%= form.text_field :postal %>
  </div>

  <div class="field">
    <%= form.label :login %>
    <%= form.text_field :login %>
  </div>

  <div class="field">
    <%= form.label :pass %>
    <%= form.text_field :pass %>
  </div>

  <div class="field">
    <%= form.label :staff_id %>
    <%= form.text_field :staff_id %>
  </div>

  <div class="field">
    <%= form.label :apptdate %>
    <%= form.date_select :apptdate %>
  </div>

  <div class="field">
    <%= form.label :healthid %>
    <%= form.text_field :healthid %>
  </div>

  <div class="field">
    <%= form.label :cart_id %>
    <%= form.number_field :cart_id %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
