<%= form_with(model: cart, local: true) do |form| %>
  <% if cart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cart.errors.count, "error") %> prohibited this cart from being saved:</h2>

      <ul>
        <% cart.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :total %>
    <%= form.text_field :total %>
  </div>

  <div class="field">
    <%= form.label :balance %>
    <%= form.text_field :balance %>
  </div>

  <div class="field">
    <%= form.label :itemtotal %>
    <%= form.number_field :itemtotal %>
  </div>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.number_field :customer_id %>
  </div>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.number_field :product_id %>
  </div>

  <div class="field">
    <%= form.label :service_id %>
    <%= form.number_field :service_id %>
  </div>

  <div class="field">
    <%= form.label :pst %>
    <%= form.text_field :pst %>
  </div>

  <div class="field">
    <%= form.label :gst %>
    <%= form.text_field :gst %>
  </div>

  <div class="field">
    <%= form.label :hst %>
    <%= form.text_field :hst %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
