<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= link_to render @category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<% @category.products.each do |product| %>
    <p>
        <strong>Product:</strong>
        <%= product.name %>
    </p>
<% end %>


<%= link_to 'Back', categories_path %>
