<p id="notice"><%= notice %></p>

<h1>Provinces</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Pst</th>
      <th>Gst</th>
      <th>Hst</th>
      <th>Cart</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @provinces.each do |province| %>
      <tr>
        <td><%= province.name %></td>
        <td><%= province.code %></td>
        <td><%= province.pst %></td>
        <td><%= province.gst %></td>
        <td><%= province.hst %></td>
        <td><%= province.cart_id %></td>
        <td><%= link_to 'Show', province %></td>
    <% end %>
  </tbody>
</table>
