<p id="notice"><%= notice %></p>
  <% @products.each do |product| %>
      <div class="card">
        <p class="title">
          <%= link_to product.name, product %>
        </p>
          <p class="subtitle">
            $<%= product.price %>
          </p>
        <footer class="card-footer">
          <p class="card-footer-item">
            <span>
              Stock: <%= product.stock %>
            </span>
          </p>
          <p class="card-footer-item">
            <span>
              <%= product.description %>
            </span>
          </p>
        </footer>
      </div>
  <% end %>